body{
    text-align:center;
    font-size: larger;
    font-weight: bold;
}
.positive{
    color: green;
}
.negative {
    color: red;
}
.neutral{
    color: gray;
}
textarea{
    font-size: 15px;
}
#result{
    font-size: 30px;
}
#catImg img{  
        max-width: 30%;  
        height: 30%; 
}
#result img{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
    
}