body{
    text-align:center;
    font-size: larger;
    font-weight: bold;
}
.positive{
    background-color: green;
}
.negative {
    background-color: red;
}
.neutral{
    background-color: gray;
}
textarea{
    font-size: 15px;
}
#result{
    font-size: 30px;
    border-style: solid;
    margin-left: 39%;
    margin-right: 39%;
}
#img img{  
        max-width: 30%;  
        height: 30%; 
}
#result img{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
    
}